html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ecf0f1;
}

.navbar {
    /* background-color: #000; */
    margin-bottom: 10px;
}

.navbar .navbar-brand {
    color: #bdc3c7 !important;
}

.navbar .nav-link {
    color: #bdc3c7 !important;
}

#navbar {
    margin-bottom: 15px;
}

#navbar #navbar-buttons {
    margin-right: 15px;
}

#navbar #navbar-buttons #navbar-login {
    margin-right: 5px;
}

#header {
    font-size: large;
    font-size: 22px;
}

#form-container {
    justify-content: flex-end !important;
}

.centered {
    width: 25%;
    height: 25%;
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.centerFlex {
    display: flex;
    flex-direction: column;
    /* aligns items vertically */
    align-items: center;
    /* aligns items horizontally */
    justify-content: center;
}

.font-size {
    font-size: 26px;
}

.flexbox {
    display: flex;
    box-sizing: border-box !important;
}

.flex-column {
    flex-direction: column;
}

.board {
    border: red 10px solid;
}

.height-10 {
    height: 10%;
}

.height-90 {
    height: 90%;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

#email-help-img, #password-help-img {
    visibility: hidden;
    top: 6px;
    left: 5px;
}

#email-help-text, #password-help-text {
    display: none;
    margin-top: 5px;
    margin-left: 35px;
    padding: 0;
    height: 55px;
    width: 450px;
}

#email-help:hover #email-help-text {
    display: block;
    background: rgba(255, 82, 82, 0.7);
}

#password-help:hover #password-help-text {
    display: block;
    background: rgba(255, 82, 82, 0.7);
}

