html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: #40739e; */
    /* background-color: #82ccdd; */
    /* background-color: #60a3bc; */
    background-image: linear-gradient(to bottom right, #82ccdd, #2d98da);
    /* background-color: #ecf0f1; */
    /* Standard syntax (must be last) */
    /* background-color: #2d98da; */
}

.centered {
    /* width: 25%; */
    /* height: 25%; */
    /* background-color: red; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.centerFlex {
    display: flex;
    flex-direction: column;
    /* aligns items vertically */
    align-items: center;
    /* aligns items horizontally */
    justify-content: center;
}

.navbar {
    /* background-color: #000; */
    margin-bottom: 10px;
}

.navbar .navbar-brand {
    color: #bdc3c7 !important;
}

.navbar .nav-link {
    color: #bdc3c7 !important;
}

#header {
    font-size: large;
    font-size: 22px;
    /* border: purple 1px solid; */
}

#form-container {
    justify-content: flex-end !important;
}

#submit-button {
    margin-right: 185px;
    margin-top: 10px;
    flex-basis: 8%;
}

#checkbox-form {
    width: 0.8em;
    height: 0.8em;
}

#gender {
    color: #7f8c8d;
    background-color: #f5f6fa;
}

#jumbotron {
    height: 130px;
    margin: 0;
    padding: 0;
    padding-top: 25px;
}

#navbar {
    margin-bottom: 15px;
}

#navbar #navbar-buttons {
    margin-right: 15px;
}

#navbar #navbar-buttons #navbar-login {
    margin-right: 5px;
}

#jumbotron p {
    padding-left: 20px;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

#email-help-img, #password-help-img {
    visibility: hidden;
    top: -30px;
    right: 0;
    bottom: 0;
    left: 90%;
}

#email-help-text, #password-help-text {
    display: none;
    margin-top: 5px;
    margin-left: 35px;
    padding: 0;
    height: 55px;
    width: 450px;
}

#email-help:hover #email-help-text {
    display: block;
    background: rgba(255, 82, 82, 1);
}

#password-help:hover #password-help-text {
    display: block;
    background: rgba(255, 82, 82, 1);
}

.font-22 {
    font-size: 22px;
}

#account-exists {
    visibility: hidden;
    /* display: none; */
    background: rgba(255, 82, 82, 1);
    width: 80%;
    height: 40px;
}

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

#home-png {
    margin-top: -8px;
    margin-right: 3px;
}


/* .birthday-select-group {
    flex-basis: 30%;
} */

/* #birthday-select {
    flex-basis: 100%;
} */

/* #birthday {
    margin-left: 100px;
} */

/* 
.gender {
    width: 1em;
    height: 1em;
}
 */